<!DOCTYPE html>
<html>
  <head>
    <title>Simple-Worm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <body>
      <div class="navbar">
        <p>Simple-Worm</p>
        <a href="/">Home</a>
      </div>
      <div class="container">
