<div id = "searchBox">
  <form action="/search">
    <p>Find A Book:</p>
      <div class="col-sm-12">
        <input type="radio" name="searchType" value="title" class="myRadio">Title
        <input type="radio" name="searchType" value="author" class="myRadio">Author
        <input type="radio" name="searchType" value="genre" class="myRadio">Genre
    </div>
    <input type="text" name="searchTerm" placeholder="Search Here"><br>
    <input type="submit">
  </form><br>
</div>
